*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
/api/
/classes/
/build/
/lib/
/out/
.idea/
sdk/.idea/
settings.xml
/target/
/site/
/scripts/
/jphp-cli/target
out/

/.gradle/
build/

secret.asc

package.github.yml
package.hub.yml

*.hprof